
/* remember, border-spacing applies around the table too */
/* so remove that from the total placement */

@prince-pdf       { prince-pdf-open-action: zoom(fit-page); }
@page             { size: 8.5in 11in; margin: 0; padding: 0; border: 0; }
html, body        { margin: 0; padding: 0; border: 0; }
table             { border-collapse: separate; border-spacing: 0.125in; margin: 0.125in 0 0 1.1875in; }
td                { width: 3in; height: 2in; border: 1px solid transparent; border-radius: 0.125in; vertical-align: top; }
table.showCuts td { border-color: black; }