
/* remember, border-spacing applies around the table too */
/* so remove that from the total placement */

@prince-pdf       { prince-pdf-open-action: zoom(fit-page); }
@page             { size: 8.5in 11in; margin: 0; padding: 0; border: 0; }
html, body        { margin: 0; padding: 0; border: 0; }
body              { background-image: url("light-wood-bg.png"); background-size: cover; }
table             { border-collapse: separate; border-spacing: 0.125in; margin: 0.125in 0 0 1.1875in; }
table.showCuts td { border-color: black; }
td                { position: relative; width: 3in;    height: 2in;    border: 1px solid transparent; border-radius: 0.125in; vertical-align: top; }
.host             { position: absolute; width: 2.75in; height: 1.75in; top: 0.125in; left: 0.125in; }
.title            { position: absolute; top: 0; left: 0; font-size: 110%; font-family: signika; font-weight: bold; }
.subtitle         { position: absolute; top: 3.4em; left: 0; font-family: "Raleway"; font-size: 40%; }
.text             { position: absolute; top: 4em; left: 0; font-family: "Raleway"; font-size: 70%; max-width: 2.2in; }
.bottle           { position: absolute; right: 0; top: 0; max-height: 100%; }
.cursive          { position: absolute; bottom: 0.1em; left: 0.2em; font-family: "Miss Fajardose"; font-size: 200%; }
.subcursive       { position: absolute; bottom: 0.5em; left: 4.2em; font-family: "Raleway"; font-size: 35.5%; }
